<div class="d-flex flex-column align-items-center">

    <h2>Login Page</h2>
    <div class="pb-2"><img src="assets/clipart2204775.png" width="150px" alt="pic"></div>
    <div><button  mat-raised-button color="warn" (click)="authorizedUser()">{{logStatusName}}</button></div>

</div>
