<div class="app-background container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem><a ngbNavLink routerLink="/home">Home</a></li>
    <li ngbNavItem><a ngbNavLink routerLink="/product">Product</a></li>
    <li ngbNavItem><a ngbNavLink routerLink="/admin">Admin</a></li>
  </ul>
  <!--  ------------------------------------------------------------------------------>
  <div style="text-align: end">
    <button  mat-raised-button color="warn" (click)="signIn()"><mat-icon>exit_to_app</mat-icon></button>
  </div>
  <router-outlet>

  </router-outlet>
</div>

