<h1>Product Page</h1>
<table class="mat-elevation-z5 table-style">
  <!-- header-->
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <!--  row -->
  <tr *ngFor="let pro of products;">
    <td>{{pro.id}}</td>
    <td>{{pro.name}}</td>
    <td>{{pro.qty}}</td>
    <td>{{pro.price}}</td>
    <td>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="openView(pro)">View</button>
      </div>
    </td>
  </tr>
</table>

